@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  padding: 15px 8px;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav img {
  width: 150px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.container img {
  width: 350px;
}

.content{
    margin-top: 20px;
}
.content .text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
  z-index: 1;
}
.content .text span {
  color: #ff9f10;
  text-decoration: underline;
  margin-right: 5px;
  z-index: 1;
}

.content .paragraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #524b6b;
}

.btn{
    display: flex;
    justify-content: flex-end;
}
.btn img{
    width: 70px;
    cursor: pointer;
}